@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFF !important;
}

.frame-getPremium {
    gap: 10px;
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
}

.bg-duo {
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
}

.text-duo {
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-duo {
    position: relative;
    display: inline-block;
    background-color: white; /* Fondo del botón */
}

.button-duo::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
    z-index: -1; /* Coloca el borde detrás */
}

.degradado {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0.8) 50%, transparent 100%);
  z-index: 1;
}

.background-custom {
  background-image: url('../../assets/img/resources/background-inicio.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container-custom {
    max-width: 840px;
}

.image-outside {
  display: block;
  position: relative;
}

.scale-custom {
    transform: scale(1.1);
}

.pink-button {
    background-color: #F13CCB !important;
}

.pink-text {
    color: #F13CCB !important;
}