@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFF !important;
}

.frame-getPremium {
    gap: 10px;
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
}

.bg-duo {
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
}

.bg-duo-gray{
    /* // gris claro con gradiente */
    background: linear-gradient(90deg, rgb(245, 245, 245) 0%, rgba(221, 221, 221, 0.2) 100%);
    font-weight: bold;
}

.text-duo {
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-duo-claro {
    background: linear-gradient(90deg, rgb(241, 121, 209) 0%, rgb(107, 156, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-duo {
    position: relative;
    display: inline-block;
    background-color: white; /* Fondo del botón */
}

.button-duo::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(231, 31, 179, 1) 0%, rgba(24, 100, 255, 1) 100%);
    z-index: -1; /* Coloca el borde detrás */
}

.degradado {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0.8) 50%, transparent 100%);
  z-index: 1;
}

@media (max-width: 767px) {
  .degradado {
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, white 40%, rgba(255, 255, 255, 0.8) 70%, transparent 100%);
  }
}

.background-custom {
  background-image: url('../../assets/img/resources/background-inicio.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container-custom {
    max-width: 840px;
}

.image-outside {
  display: block;
  position: relative;
}

@media (min-width: 768px) {
    .scale-custom {
        transform: scale(1.1);
    }
 }

@media (max-width: 767px) {
    .text-3xl {
        font-size: 1rem !important;
        line-height: 1.5rem !important;
    }
}

.pink-button {
    background-color: #F13CCB !important;
}

.pink-text {
    color: #F13CCB !important;
}

.el-select__input {
    width: auto !important;
    box-shadow: none !important;
    border: none !important;
}

.el-select__input:focus {
    background-color: transparent !important;
}

.el-select__selection {
    flex-wrap: nowrap !important;
}

.el-select__selected-item .el-select__input {
    width: 0 !important;
}

.b-from-tags-field div .b-form-tags-button {
    display: none !important;
}

.b-from-tags-field div input {
    box-shadow: none !important;
}

.b-from-tags-field div input:focus {
    background-color: transparent !important;
}

.carousel__pagination-button {
    border-radius: 100% !important;
    width: 10px !important;
    height: 10px !important;
}